body{
    background-color: hsl(212, 45%, 89%);
  }
  .container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
 .item-1{
   width: 375px;
   min-height: 570px;
   border-radius: 5%;
   background-color: hsl(0, 0%, 100%);
   text-align: center;
   box-shadow:  10px 10px 50px hsla(32, 8%, 57%, 0.541);
 }
 
.image-qr-code{
  width: 90%;
  border-radius: 5%;
  margin-top: 5%;
}

h2{
  font-family: "Outfit", sans-serif;
  margin:  20px 50px;
  color: hsl(218, 44%, 22%) ;
  font-weight: 700;
}
p{
  font-family: "Outfit", sans-serif;
  margin:  20px 55px;
  color: hsl(216, 15%, 48%);
  font-size: 15px;
  font-weight: 400;
  
}

.attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }
